
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>


<div class="jumbotron">
  <h1 class="display-4">Contacto</h1>
  <p class="lead">WhatsApp: 8180199305</p>

  <p class="lead">Instagram: @mathu.asesorias</p>
  <a class="btn btn-primary btn-lg #03a9f4 light-blue" href="https://www.instagram.com/p/CQC58AFMrlN/?utm_medium=copy_link" role="button"><i class="material-icons left"><span class="iconify" data-icon="mdi-instagram" data-inline="false"></span></i>Instagram</a>
  <br/><br/>

  <p class="lead">Facebook: Mathu</p>
  <a class="btn btn-primary btn-lg #03a9f4 light-blue" href="https://www.facebook.com/118157748919167/posts/514860532582218/?d=n" role="button"><i class="material-icons left">facebook</i>Facebook</a>
  <hr class="my-4">
  <p>Estas a punto de iniciar un camino lleno de éxito.</p>
  <br/><br/>
  
  <p class="lead">
    <a class="btn btn-primary btn-lg #03a9f4 light-blue" href="/" role="button"><i class="material-icons left">home</i>Inicio</a>
    
    <br/><br/>
    <a class="btn btn-primary btn-lg #03a9f4 light-blue" href="lists#" role="button"><i class="material-icons left">menu_book</i>Cursos</a>
    
  </p>
</div>