<div class = "row">
	<div class= "col s12">
		<h3 class = "center-align"> Lista de Cursos </h3>
	</div>
</div>



<ul>

	<li> Nivel: Principiante</li>
	<li> Nombre de curso: Aprende a despejar variables </li>
	<li> Descripción: En este curso entederás cómo despejar variables, de principiante a experto. </li>


</ul>

<ul>

	<li> Nivel: Principiante</li>
	<li> Nombre de curso: Cálculo integral y derivativo </li>
	<li> Descripción: Aprenderás desde 0 a resolver integrales y derivadas. </li>


</ul>

