<div class = "row">
	<div class= "col s12">
		<h3 class = "center-align"> Lista de Cursos </h3>
	</div>
</div>

<div class = "row">
	<div class= "col s12">
		<div class="card">
		<div class="card-image waves-effect waves-block waves-light">
		  <img class="activator" src="https://github.com/dianabasilio/markdown/blob/main/images/mathu.image.2.jpg?raw=true"  width="200" height="200">
		</div>
		<div class="card-content">
		  <span class="card-title activator grey-text text-darken-4"> C1: Despeje de variables<i class="material-icons right">more_vert</i></span>
		  <p><a href="#">Inscribirme al curso</a></p>
		  <p><a href="#">Info</a></p>
		</div>
		<div class="card-reveal">
		  <span class="card-title grey-text text-darken-4">Despeje de variables<i class="material-icons right">close</i></span>
		  <p>Descripción: En este curso entederás cómo despejar variables como "x", de principiante a experto. </p>
		</div>
		</div>
	</div>
</div>

<div class = "row">
	<div class= "col s12">
	<div class="card">
	<div class="card-image waves-effect waves-block waves-light">
	  <img class="activator" src="https://github.com/dianabasilio/markdown/blob/main/images/mathu.image5.jpg?raw=true"  width="200" height="200">
	</div>
	<div class="card-content">
	  <span class="card-title activator grey-text text-darken-4">C2: Cálculo integral y derivativo<i class="material-icons right">more_vert</i></span>
	  <p><a href="#">Inscribirme al curso</a></p>
	  <p><a href="#">Info</a></p>
	</div>
	<div class="card-reveal">
	  <span class="card-title grey-text text-darken-4">Despeje de variables<i class="material-icons right">close</i></span>
	  <p>Descripción: Aprenderás desde 0 a resolver integrales y derivadas. </p>
	</div>
	</div>
	</div>
</div>

<div class = "row">
	<div class= "col s12">
	<div class="card">
	<div class="card-image waves-effect waves-block waves-light">
	  <img class="activator" src="https://github.com/dianabasilio/markdown/blob/main/images/image.mathu7-2.jpg?raw=true"  width="200" height="200">
	</div>
	<div class="card-content">
	  <span class="card-title activator grey-text text-darken-4">C3: Aprende Pitágoras<i class="material-icons right">more_vert</i></span>
	  <p><a href="#">Inscribirme al curso</a></p>
	  <p><a href="#">Info</a></p>
	</div>
	<div class="card-reveal">
	  <span class="card-title grey-text text-darken-4">C3: Aprende Pitágoras<i class="material-icons right">close</i></span>
	  <p>En este curso aprenderás a identificar facilmente los problemas que se resuelven con pitágoras y resolverlos de una manera fácil. </p>
	</div>
	</div>
	</div>
</div>



