<div class = "row">
	<div class= "col s12">
		<h3 class = "center-align"> Bienvenido a Mathu </h3>
	</div>
</div>


<div class= "col s12">
	<div class="card" width="300" height="100">
	  <img class="card-img-top" src="https://github.com/dianabasilio/markdown/blob/main/images/pexels-photo-5538581.jpg?raw=true" alt="Card image cap" style='height: 100%; width: 100%; object-fit: contain'/>
	  <div class="card-body">
	    <h5 class="card-title">Lista de Cursos</h5>
	    <p class="card-text">Conoce todos los cursos que tenemos preparados para ti.</p>
	    <a href="lists#" class="btn btn-primary #03a9f4 light-blue"> <i class="material-icons left">menu_book</i>Conocer los cursos</a>
	  </div>
	</div>

	<div class="card" style="width: 22rem;">
	  <img class="card-img-top" src="https://github.com/dianabasilio/markdown/blob/main/images/mathu.jpg?raw=true" alt="Card image cap" style='height: 100%; width: 100%; object-fit: contain'/>
	  <div class="card-body">
	    <h5 class="card-title">Acerca de nosotros</h5>
	    
	    <a href="about#" class="btn btn-primary #03a9f4 light-blue"><i class="material-icons left">ads_click</i>Conocer de mathu</a>
	  </div>
	</div>
</div>



