
<div class="jumbotron">
  <h1 class="display-4">¡Ya casi eres parte de Mathu!</h1>
  <p class="lead">Para registrarte a este curso manda un Whatsapp al: 8180199305</p>
  <hr class="my-4">
  <p>Estas a punto de iniciar un camino lleno de éxito.</p>
  <p class="lead">
  	<a class="btn btn-primary btn-lg #03a9f4 light-blue" href="infoC1#" role="button">Info de este curso</a>
  	<br>
    <a class="btn btn-primary btn-lg #03a9f4 light-blue" href="lists#" role="button">Más cursos</a>
  </p>
</div>