<header>
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
      </ul>
      <ul id="dropdown2" class="dropdown-content">
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
      </ul>

      <nav class="navbar navbar-default #039be5 light-blue darken-1">
  <div class="container-fluid #039be5 light-blue darken-1">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed navbar-left" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar white"></span>
        <span class="icon-bar white"></span>
        <span class="icon-bar white"></span>
      </button>
      
      <a class="navbar-brand right white-text" href="/">Mathu</a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse #039be5 light-blue darken-1" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav navbar-left">
        <li class="active #039be5 light-blue darken-1 white-text"><a class="#039be5 light-blue darken-1 white-text" href="/">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li><a class="#039be5 light-blue darken-1 white-text" href="about#">Acerca de nosostros</a></li>
        <li class="dropdown white-text">
          <a href="#" class="dropdown-toggle white-text" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cuenta <span class="caret white-text"></span></a>
          <ul class="dropdown-menu #039be5 light-blue darken-1 white-text">
            <li><a class="#039be5 light-blue darken-1 white-text" href="#">Action</a></li>
            <li><a class="#039be5 light-blue darken-1 white-text" href="#">Another action</a></li>
            <li><a class="#039be5 light-blue darken-1 white-text" href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a class="#039be5 light-blue darken-1 white-text" href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a class="#039be5 light-blue darken-1 white-text" href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      
    
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    </header>